$pc-media: 1279px;
$tab-media: 768px;
$tabs-media: 767px;

@mixin phone-width() {
  @media all and (max-width: $tabs-media) {
    @content;
  }
}

@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

@mixin pad-width() {
  @media all and (min-width: $tab-media) {
    @content;
  }
}

@font-face {
  font-family: "Avenir__Regular";
  src: url(./assets/fonts/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Avenir__Bold";
  src: url(./assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 100;
  font-style: normal;
}

//style start from below-----------------------------------------

.App {
  padding-top: 1rem;
  text-align: center;
  font-family: "Avenir__Regular";
  color: #323232;
}

#mohan-img {
  & img {
    height: 2rem;
  }
}

.header {
  &__left {
    & img {
      width: 12rem;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2.5rem;

    > input[type="text"] {
      position: relative;
      height: 3.5rem;
      width: 35rem;
      font-size: 1.2rem;
      margin-right: 2rem;

      border: 1.5px #e1e1e1 solid;
      border-radius: 4px;
      background-color: #fafafa;
      padding-left: 3.5rem;

      &::placeholder {
        font-family: "Avenir__Regular";
        color: black;
      }
    }

    > button[type="submit"] {
      position: relative;
      top: 1rem;
      left: 3rem;
      height: 2rem;
      z-index: 99;
      border: none;
      background-color: #fafafa;

      & img {
        width: 1.7rem;
      }
    }

    > #mohan-img {
      & img {
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
      }
    }
  }
  > button[type="button"] {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2.4rem;

    width: 89%;

    background-color: #0095ff;
    color: white;
    height: 4rem;

    font-size: 1.5rem;
    border-radius: 4px;
    border: none;

    display: flex;
    align-items: center;

    & img {
      margin-left: 1rem;
    }

    & p {
      flex-grow: 1;
      text-align: center;
    }
  }
}

.videoPlaying {
  & video {
    width: 100%;
  }
}

.nowVideo {
  margin: 0 2.4rem;
  &__info {
    & h1 {
      font-size: 3rem;
      text-align: left;
      padding-bottom: 1.5rem;
      border-bottom: 2px solid #e1e1e1;
    }
  }

  .nowVideo__info-head {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e1e1e1;

    > .wraper1 {
      min-width: 8.5rem;
      padding-right: 9rem;
    }

    &-1 {
      word-break: break-all;
    }

    &-2 {
      text-align: left;
      color: #afafaf;
      font-size: 1.1rem;
      // margin-top: 2.5rem;
    }

    &-3,
    &-4 {
      color: #afafaf;
      display: flex;
      font-size: 1.1rem;

      & img {
        padding-right: 1rem;
        width: 2rem;
      }
    }
  }

  &__description {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.9rem;
  }

  &__comment {
    text-align: left;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #e1e1e1;

    &-conversation {
      margin-top: 2rem;
      display: flex;

      > img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-top: 2.2rem;
        margin-right: 2rem;
      }

      & form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        & textarea {
          font-family: "Avenir__Regular";
          border: 1.5px #e1e1e1 solid;
          border-radius: 0.4rem;
          background-color: #fafafa;
          height: 11rem;
          margin-bottom: 2rem;
          padding-left: 1rem;
          padding-top: 0.5rem;

          &::placeholder {
            color: #323232;
            font-size: 1.5rem;
          }
        }

        & label {
          font-family: "Avenir__Regular";
          font-size: 1.2rem;
          color: #afafaf;
          padding-bottom: 0.8rem;
          font-weight: 1000;
        }

        & button {
          font-family: "Avenir__Regular";
          width: 100%;
          background-color: #0095ff;
          color: white;
          height: 4rem;
          font-size: 1.5rem;
          border-radius: 4px;
          border: none;

          display: flex;
          align-items: center;

          & img {
            margin-left: 1rem;
            padding-right: 6rem;
          }
        }
      }
    }
  }
}

.comment {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Avenir__Regular";

  &__sole {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 2px solid #e1e1e1;

    & img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 2rem;
    }

    &__rightblock {
      width: 100%;
      word-break: break-word;
      text-align: left;

      &__top {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        padding-bottom: 1rem;

        #nameChanger {
          color: #323232;
          font-weight: 700;
        }

        #dateChanger {
          color: #afafaf;
        }
      }

      #sizeChanger {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  }
}

.videoList {
  margin-left: 2rem;
  > span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #afafaf;
    display: flex;
  }

  &__wraper {
    display: flex;
    margin-bottom: 1rem;

    &-left {
      height: 6.5rem;
      max-width: 10rem;
      border: 2px solid red;
      margin-top: 1.5rem;
      overflow: hidden;

      & img {
        max-width: 100%;
        height: auto;
      }
    }

    &-right {
      padding-left: 2rem;
      text-align: left;
      padding-right: 1rem;
      > h3 {
        font-size: 1.5rem;
      }

      > p {
        font-size: 1.2rem;
      }
    }
  }
}

// phone-width media display----------------------------------------------
@include phone-width {
  .nowVideo__info-head-2 {
    margin-top: 2.5rem;
  }
}

// pad-width media display--------------------------------
@include pad-width {
  .header {
    display: flex;
    margin-bottom: 2rem;
    &__left {
      margin-top: 0.5rem;
      display: flex;
      padding-left: 2rem;
      & img {
        width: 7rem;
      }
    }
    &__right {
      position: absolute;
      top: 1rem;
      right: 2rem;

      margin-top: 0;
      margin-left: 4.5rem;
      margin-right: 0;
      > input[type="text"] {
        width: 12rem;
        height: 2.3rem;
        padding-left: 2.5rem;

        &::placeholder {
          font-size: 0.9rem;
        }
      }

      > button[type="submit"] {
        top: 0.5rem;
        left: 2.5rem;
        & img {
          width: 1.3rem;
        }
      }

      > #mohan-img {
        padding-left: 11rem;

        & img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    > button[type="button"] {
      position: absolute;
      top: 1rem;
      right: 6.2rem;

      width: 10rem;
      margin-top: 0;
      margin-left: 0;
      height: 2.7rem;

      & img {
        margin: 0;
        height: 1.35rem;
        padding-left: 0.2rem;
      }

      & p {
        font-size: 0.9rem;
        padding-right: 1rem;
      }
    }
  }

  .nowVideo {
    &__info {
      &-head {
        > .wraper1 {
          display: flex;
        }

        > .wraper2 {
          display: flex;
        }
        &-2 {
        }
      }
    }
  }
}

// pc-width media display--------------------------------
@include pc-width {
  .container {
    display: flex;
    flex-direction: row;
  }

  .left-container {
    display: flex;
    flex-direction: column;
  }

  .nowVideo,
  .comment,
  .videoList {
    flex: 1;
  }
}
